
.profile{
  display: inline-block;
  background: rgb(12,36,0);
  background: linear-gradient(180deg, rgba(12,36,0,1) 0%, rgba(28,121,9,1) 0%, rgba(0,255,41,1) 100%);
  width: 100%;
  height: 5rem;
  font-family: 'Love Ya Like A Sister';
}
.profile h4 {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}
.profileName {
  float: right;
  margin-right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 4.5rem;
}

.sign{
  width: 150px;
  height: 150px;
  background: url(assets/sign-spritesheet-1200.png) top left;
  display: inline-block;
}
.signLetter{
  width: 150px;
  height: 150px;
  display: inline-block;
}

input {
  font-family: 'Sanchez';
}

.loginScreen input {
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  border-color: #10abff;
  padding: 0.5rem;
  border-radius: 9999em;
  height: 3rem;
  font-size: 2rem;
}

.loginScreen .loginButton {
  font-family: 'Sanchez';
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  background-color: #10abff;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 9999em;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.translateInputElement {
  display: inline-block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 9999em;
  height: 3rem;
  font-size: 2rem;
  vertical-align: top;
}
.translateInput{
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}
.translateInput .btnTranslate{
  font-family: 'Sanchez';
  display: inline-block;
  height: 3rem;
  width: 15%;
  margin-left: 1rem;
  border-radius: 9999px;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: #10abff;
  border: none;
  cursor: pointer;
  vertical-align: top;
}
.translateInput .btnTranslate:focus{
  outline: transparent;
}

.translateInput .error{
  color: red;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.translateInput input{
  margin-top: 2rem;
  border-color: #10abff;
}


input:focus {
  outline: transparent;
}

.profileButton {
  display: inline-block;
  margin-left: 2rem;
  border-radius: 9999em;
  border: 1px solid #10abff;
  padding: 1rem;
  cursor: pointer;
}

.profileButton:hover {
  background: linear-gradient(0deg, rgba(12,36,0,1) 0%, rgba(28,121,9,1) 0%, rgba(0,255,41,1) 100%);
  color: #fff;
}

.translated {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  border: 3px solid;
  border-color:  rgba(28,9,121,0.7);

}

.notFoundWrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.notFoundHeading {
  font-size: 4.5rem;
  color: rgba(0,0,0,0.8);
  text-align: center;
}

.notFoundText {
  font-size: 1.4rem;
  text-align: center;
}

.notFoundButton {
  font-size: 1.5rem;
  font-family: 'Sanchez';
  text-align: center;
  border: 1px solid black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  line-height: 3.5rem;
  background: rgb(12,36,0);
  background: linear-gradient(-90deg, rgba(12,36,0,1) 0%, rgba(51,146,231,1) 0%, rgba(255,0,250,1) 100%);
  cursor: pointer;
}
.notFoundButton:hover{
  color: #fff;
  background: rgb(12,36,0);
  background: linear-gradient(90deg, rgba(12,36,0,1) 0%, rgba(51,146,231,1) 0%, rgba(255,0,250,1) 100%);

}

.notFoundWrapper a{
  text-decoration: none;
  color: #000;
}

.notFoundWrapper a:hover{
  color: #fff;
}

.profileButtonGroup{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.profileUl {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.2rem;
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.profileLi {
  display: block;
  margin-bottom: 0.3rem;
}

.profileLiLight {
  background-color: rgba(100,180,231,0.3);
}

.profileLiDark {
  background-color: #fff;
}

.lastTranslationText {
  text-align: center;
}

.talkingLogo {
  display: inline-block;
}
.talkingLogo img{
  width: 12rem;
}